h1 {
    color: red;
}

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    border: 1px solid #000000;
    background-color: #7f7e7e;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #353535;
    padding: 5px;
}